<main id="admin-score">
  <div class="hd">
    <p class="hd-title">我的评分</p>
    <div class="hd-total">
      <em>已<span id="totalR">评分</span> {{objCount.totalR}}条</em>
    </div>
  </div>
  <div class="filter">
    <div class="search">
      <el-input placeholder="请输入" icon="search" v-model="search_inp" :on-icon-click="searchClick">
      </el-input>
    </div>
  </div>
  <div class="list_data">
    <template>
      <el-table :data="tableData" border style="width: 100%" v-loading="loading" element-loading-text="数据加载中" slot="empty">
        <el-table-column label="评分目录">
          <template scope="scope">
            <div class="over_space">
              <span v-bind:title="scope.row.dirStructure">{{scope.row.dirStructure}}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="评分内容" width="180">
          <template scope="scope">
            <div class="over_space">
              <el-rate v-model="scope.row.rate_score" disabled text-color="#ff9900">
              </el-rate>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="更新时间" width="180">
          <template scope="scope">
            <div class="over_space">
              <span v-bind:title="scope.row.rate_date">{{scope.row.rate_date}}</span>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </template>
  </div>
  <div class="block page">
    <el-pagination @current-change="handleCurrentChange" :page-size='5' layout="total, prev, pager, next, jumper" :total=objCount.totalR>
    </el-pagination>
  </div>
</main>
