@import "../../common/styles/base.scss";
#service-menu {
  .num {
    font-size: $size-text-large;
    color: $color-silver-light;
    line-height: $line-height-larger2;
  }
  .el-tabs--border-card {
    border: none;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .el-tabs--border-card>.el-tabs__header {
    background-color: $white;
  }
  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    border: none;
  }
  .el-tabs--border-card>.el-tabs__header .el-tabs__item {
    border: none;
    padding-left: 1.63rem;
  }
  .el-tabs__header {
    border: none;
  }
  .el-tabs--border-card>.el-tabs__content {
    padding: 0;
  }
  .el-tree {
    cursor: default;
    background: #fff;
    border: none;
  }
  .el-tree-node__content {
    line-height: 36px;
    height: 36px;
    cursor: pointer;
  }
}