@import "../../../common/styles/base.scss";
#apply-list {
  width: 100%;
  .hd {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: $hd-blue;
    color: $white;
    .hd-title{
      @include pull-left;
    }
    .hd-total{
      @include pull-right;
      em{
        font-style: normal;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  .filter{
    overflow: hidden;
    padding: 15px;
    .select{
      @include pull-right;
      margin-right: 15px;
    }
    .search{
       @include pull-right;
      width: 30%;
    }
  }
  .page{
    text-align: right;
    padding: 30px 15px;
  }
}
