<main id="apply-list">
  <div v-show="flag" class="apply_list">
    <div class="hd">
      <p class="hd-title">申请列表</p>
      <div class="hd-total">
        <em>共 <span id="totalR">{{applyCount.totalR}}</span> 申请消息</em>
        <em><span id="pendingNum">{{applyCount.pendingNum}}</span> 审核中</em>
        <em><span id="reviewedNum">{{applyCount.reviewedNum}}</span> 已审核</em>
      </div>
    </div>
    <div class="filter">
      <div class="search">
        <el-input placeholder="请输入" icon="search" v-model="search_inp" :on-icon-click="searchClick">
        </el-input>
      </div>
      <div class="select">
        <template>
          <el-select v-model="initSelectVal" placeholder="全部" @change="selectVal()">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </template>
      </div>
    </div>
    <div class="list_data">
      <template>
        <el-table :data="getApplyList" border style="width: 100%" @row-click="getApplyItem" v-loading="loading" element-loading-text="数据加载中" slot="empty"> 
          <el-table-column label="数据结构">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.dirStructure">{{scope.row.dirStructure}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="申请理由" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.apply_info">{{scope.row.apply_info}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="申请时间" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.apply_date">{{scope.row.apply_date}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="状态" width="100">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.status">{{scope.row.status}}</span>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </template>
    </div>
    <div class="block page">
      <el-pagination @current-change="handleCurrentChange1"  :current-page="currentPage1"  layout="total, prev, pager, next, jumper" :total=applyCount.totalR>
      </el-pagination>
    </div>
  </div>
  <div v-show="!flag" class="apply_item">
    <div class="hd">
      <p class="hd-title">{{applyItem.name}}</p>
      <div class="hd-total">
        <em class="goback" @click="goBack()">返回</em>
      </div>
    </div>
    <div class="filter">
      <div class="search">
        <el-input placeholder="请输入" icon="search" v-model="search_inp2" :on-icon-click="searchClick2">
        </el-input>
      </div>
    </div>
    <div class="list_data">
      <template>
        <el-table :data="getApplyItemList" border style="width: 100%" v-loading="loading2" element-loading-text="数据加载中" slot="empty">
          <el-table-column label="数据项">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.item_name">{{scope.row.item_name}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="审核人" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.user_name">{{scope.row.user_name}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="审核组织" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.dept_name">{{scope.row.dept_name}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="审核时间" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.audit_date">{{scope.row.audit_date}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="意见" width="180">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.audit_opinion">{{scope.row.audit_opinion}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="状态" width="100">
            <template scope="scope">
              <div class="over_space">
                <span v-bind:title="scope.row.status">{{scope.row.status}}</span>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </template>
    </div>
    <div class="block page">
      <el-pagination @current-change="handleCurrentChange2" :current-page="currentPage2"  layout="total, prev, pager, next, jumper" :total=applyCount.totalR>
      </el-pagination>
    </div>
  </div>
</main>
